
<div *ngIf="assestDataList">
  <h2>Asset Details</h2>
  <div *ngIf="!isEditMode">
  <table class="table">
    <tbody>
      <tr>
        <td><strong>ID:</strong></td>
        <td>{{ assestDataList.asset.assetId }}</td>
      </tr>
      <tr>
        <td><strong>Name:</strong></td>
        <td>{{ assestDataList.asset.assetName }}</td>
      </tr>
      <tr>
        <td><strong>AssetType:</strong></td>
        <td>{{ assestDataList.asset.assetType }}</td>
      </tr>
      <tr>
        <td><strong>Brand:</strong></td>
        <td>{{ assestDataList.asset.brand }}</td>
      </tr>
      <tr>
        <td><strong>Category:</strong></td>
        <td>{{ assestDataList.asset.category }}</td>
      </tr>
      <tr>
        <td><strong>Cost:</strong></td>
        <td>{{ assestDataList.asset.cost }}</td>
      </tr>
      <tr>
        <td><strong>ManagedBy:</strong></td>
        <td>{{ assestDataList.asset.managedBy }}</td>
      </tr>
      <tr>
        <td><strong>ModelNumber:</strong></td>
        <td>{{ assestDataList.asset.modelNumber }}</td>
      </tr>
      <tr>
        <td><strong>OperationalStatus:</strong></td>
        <td>{{ assestDataList.asset.operationalStatus }}</td>
      </tr>
      <tr>
        <td><strong>SerialNumber:</strong></td>
        <td>{{ assestDataList.asset.serialNumber }}</td>
      </tr>
      <tr>
        <td><strong>Status:</strong></td>
        <td>{{ assestDataList.asset.status }}</td>
      </tr>
      <ng-container *ngIf="assestDataList?.fixedasset; else itAsset">
      <tr>
        <td><strong>Battery:</strong></td>
        <td>{{assestDataList.fixedasset.battery}}</td>
      </tr>
      <tr>
        <td><strong>BluetoothVersion:</strong></td>
        <td>{{ assestDataList.fixedasset.bluetoothVersion }} grams</td>
      </tr>
      <tr>
        <td><strong>ChargerType:</strong></td>
        <td>{{ assestDataList.fixedasset.chargerType }}</td>
      </tr>

      <tr>
          <td><strong>ChargingTime:</strong></td>
          <td>{{ assestDataList.fixedasset.chargingTime }}</td>
        </tr>
        <tr>
          <td><strong>Color:</strong></td>
          <td>{{ assestDataList.fixedasset.color }}</td>
        </tr>
        <tr>
          <td><strong>ConnectorType:</strong></td>
          <td>{{ assestDataList.fixedasset.connectorType }}</td>
        </tr>
        <tr>
          <td><strong>Dimension:</strong></td>
          <td>{{ assestDataList.fixedasset.dimension }}</td>
        </tr>
        <tr>
          <td><strong>GraphicsCard:</strong></td>
          <td>{{ assestDataList.fixedasset.graphicsCard }}</td>
        </tr>
        <tr>
          <td><strong>Id:</strong></td>
          <td>{{ assestDataList.fixedasset.id }}</td>
        </tr>
        <tr>
          <td><strong>IpAddress:</strong></td>
          <td>{{ assestDataList.fixedasset.ipAddress }}</td>
        </tr>
        <tr>
          <td><strong>Material:</strong></td>
          <td>{{ assestDataList.fixedasset.material }}</td>
        </tr>
        <tr>
          <td><strong>OS:</strong></td>
          <td>{{ assestDataList.fixedasset.os }}</td>
        </tr>
        <tr>
          <td><strong>OS Version:</strong></td>
          <td>{{ assestDataList.fixedasset.osVersion }}</td>
        </tr>
        <tr>
          <td><strong>RAM:</strong></td>
          <td>{{ assestDataList.fixedasset.ram }}</td>
        </tr>
        <tr>
          <td><strong>ROM:</strong></td>
          <td>{{ assestDataList.fixedasset.rom }}</td>
        </tr>
        <tr>
          <td><strong>Weight:</strong></td>
          <td>{{ assestDataList.fixedasset.weight }}</td>
        </tr>
        <tr>
          <td><strong>Wireless:</strong></td>
          <td>{{ assestDataList.fixedasset.wireless }}</td>
        </tr>
      </ng-container>
      <ng-template #itAsset>
        <tr>
          <td><strong>Active:</strong></td>
          <td>{{ assestDataList.itAsset.active }}</td>
        </tr>
        <tr>
          <td><strong>DefaultGateway:</strong></td>
          <td>{{ assestDataList.itAsset.defaultGateWay }}</td>
        </tr>
        <tr>
          <td><strong>Disk Details:</strong></td>
          <td>{{ assestDataList.itAsset.diskDetails }}</td>
        </tr>
        <tr>
          <td><strong>FirewallIpAddress:</strong></td>
          <td>{{ assestDataList.itAsset.firewallIpAddress }}</td>
        </tr>
        <tr>
          <td><strong>FireWallType:</strong></td>
          <td>{{ assestDataList.itAsset.firewallType }}</td>
        </tr>
        <tr>
          <td><strong>GraphicsCard:</strong></td>
          <td>{{ assestDataList.itAsset.graphicsCard }}</td>
        </tr>
        <tr>
          <td><strong>HardDisk:</strong></td>
          <td>{{ assestDataList.itAsset.harddisk }}</td>
        </tr>
        <tr>
          <td><strong>HostName:</strong></td>
          <td>{{ assestDataList.itAsset.hostName }}</td>
        </tr>
        <tr>
          <td><strong>MacAddress:</strong></td>
          <td>{{ assestDataList.itAsset.macAddress }}</td>
        </tr>
        <tr>
          <td><strong>Port:</strong></td>
          <td>{{ assestDataList.itAsset.totalPort }}</td>
        </tr>
        </ng-template>
      <!-- Add more properties as needed -->
    </tbody>
  </table>
  <button (click)="enableEditMode()">Edit</button>
  </div>
</div>
<div *ngIf="isEditMode">
  <table class="custom-table">
    <tbody>
      
      <tr>
        <td><strong>ID:</strong></td>
        <td><input type="text" [(ngModel)]="assestDataList.asset.assetId"></td>
      </tr>
      <tr>
        <td><strong>Name:</strong></td>
        <td><input type="text" [(ngModel)]="assestDataList.asset.assetName"></td>
      </tr>
      <tr>
        <td><strong>AssetType:</strong></td>
        <td><input type="text" [(ngModel)]="assestDataList.asset.assetType"></td>
      </tr>
      <tr>
        <td><strong>Brand:</strong></td>
        <td><input type="text" [(ngModel)]="assestDataList.asset.brand"></td>
      </tr>
      <tr>
        <td><strong>Category:</strong></td>
        <td><input type="text" [(ngModel)]="assestDataList.asset.category"></td>
      </tr>
      <tr>
        <td><strong>Cost:</strong></td>
        <td><input type="text" [(ngModel)]="assestDataList.asset.cost"></td>
      </tr>
      <tr>
        <td><strong>ManagedBy:</strong></td>
        <td><input type="text" [(ngModel)]="assestDataList.asset.managedBy"></td>
      </tr>
      <tr>
        <td><strong>ModelNumber:</strong></td>
        <td><input type="text" [(ngModel)]="assestDataList.asset.modelNumber"></td>
      </tr>
      <tr>
        <td><strong>OperationalStatus:</strong></td>
        <td><input type="text" [(ngModel)]="assestDataList.asset.operationalStatus"></td>
      </tr>
      <tr>
        <td><strong>SerialNumber:</strong></td>
        <td><input type="text" [(ngModel)]="assestDataList.asset.serialNumber"></td>
      </tr>
      <tr>
        <td><strong>Status:</strong></td>
        <td><input type="text" [(ngModel)]="assestDataList.asset.status"></td>
      </tr>
      <ng-container *ngIf="assestDataList?.fixedasset; else itAsset">
       
        <tr>
          <td><strong>Battery:</strong></td>
          <td><input type="text" [(ngModel)]="assestDataList.fixedasset.battery"></td>
        </tr>
        <tr>
          <td><strong>BluetoothVersion:</strong></td>
          <td><input type="text" [(ngModel)]="assestDataList.fixedasset.bluetoothVersion"></td>
        </tr>
        <tr>
          <td><strong>ChargerType:</strong></td>
          <td><input type="text" [(ngModel)]="assestDataList.fixedasset.chargerType"></td>
        </tr>
        
        <tr>
            <td><strong>ChargingTime:</strong></td>
            <td><input type="text" [(ngModel)]="assestDataList.fixedasset.chargingTime"></td>
          </tr>
          <tr>
            <td><strong>Color:</strong></td>
            <td><input type="text" [(ngModel)]="assestDataList.fixedasset.color"></td>
          </tr>
          <tr>
            <td><strong>ConnectorType:</strong></td>
            <td><input type="text" [(ngModel)]="assestDataList.fixedasset.connectorType"></td>
          </tr>
          <tr>
            <td><strong>Dimension:</strong></td>
            <td><input type="text" [(ngModel)]="assestDataList.fixedasset.dimension"></td>
          </tr>
          <tr>
            <td><strong>GraphicsCard:</strong></td>
            <td><input type="text" [(ngModel)]="assestDataList.fixedasset.graphicsCard"></td>
          </tr>
          <tr>
            <td><strong>Id:</strong></td>
            <td><input type="text" [(ngModel)]="assestDataList.fixedasset.id"></td>
          </tr>
          <tr>
            <td><strong>IpAddress:</strong></td>
            <td><input type="text" [(ngModel)]="assestDataList.fixedasset.ipAddress"></td>
          </tr>
          <tr>
            <td><strong>Material:</strong></td>
            <td><input type="text" [(ngModel)]="assestDataList.fixedasset.material"></td>
          </tr>
          <tr>
            <td><strong>OS:</strong></td>
            <td><input type="text" [(ngModel)]="assestDataList.fixedasset.os"></td>
          </tr>
          <tr>
            <td><strong>OS Version:</strong></td>
            <td><input type="text" [(ngModel)]="assestDataList.fixedasset.osVersion"></td>
          </tr>
          <tr>
            <td><strong>RAM:</strong></td>
            <td><input type="text" [(ngModel)]="assestDataList.fixedasset.ram"></td>
          </tr>
          <tr>
            <td><strong>ROM:</strong></td>
            <td><input type="text" [(ngModel)]="assestDataList.fixedasset.rom"></td>
          </tr>
          <tr>
            <td><strong>Weight:</strong></td>
            <td><input type="text" [(ngModel)]="assestDataList.fixedasset.weight"></td>
          </tr>
          <tr>
            <td><strong>Wireless:</strong></td>
            <td><input type="text" [(ngModel)]="assestDataList.fixedasset.wireless"></td>
          </tr>
          
        </ng-container>
        <ng-template #itAsset>
          <tr>
            <td><strong>Active:</strong></td>
            <td><input type="text" [(ngModel)]="assestDataList.itAsset.active"></td>
          </tr>
          <tr>
            <td><strong>DefaultGateway:</strong></td>
            <td><input type="text" [(ngModel)]="assestDataList.itAsset.defaultGateWay"></td>
          </tr>
          <tr>
            <td><strong>Disk Details:</strong></td>
            <td><input type="text" [(ngModel)]="assestDataList.itAsset.diskDetails"></td>
          </tr>
          <tr>
            <td><strong>FirewallIpAddress:</strong></td>
            <td><input type="text" [(ngModel)]="assestDataList.itAsset.firewallIpAddress"></td>
          </tr>
          <tr>
            <td><strong>FireWallType:</strong></td>
            <td><input type="text" [(ngModel)]="assestDataList.itAsset.firewallType"></td>
          </tr>
          <tr>
            <td><strong>GraphicsCard:</strong></td>
            <td><input type="text" [(ngModel)]="assestDataList.itAsset.graphicsCard"></td>
            </tr>
          <tr>
              <td><strong>HardDisk:</strong></td>
              <td><input type="text" [(ngModel)]="assestDataList.itAsset.harddisk"></td>
              </tr>
          <tr>
                <td><strong>HostName:</strong></td>
                <td><input type="text" [(ngModel)]="assestDataList.itAsset.hostName"></td>
         </tr>
         <tr>
          <td><strong>Port:</strong></td>
          <td><input type="text" [(ngModel)]="assestDataList.itAsset.totalPort"></td>
   </tr>
        </ng-template>
     </tbody>
     </table>
     <button (click)="saveChanges()">Save</button>
     <button (click)="cancelEdit()">Cancel</button>
</div>