<form [formGroup]="assetRegister" (ngSubmit)="HandleSubmit()">
  <mat-stepper  [linear]="isLinear" #stepper>
    
      <mat-step [stepControl]="basicform" label="Asset Details">
        <div class="divflex" formGroupName="basic">
          <mat-form-field>
            <mat-label>Category</mat-label>
            <mat-select formControlName="category" required>
              @for(category of selectedCategory;track category){
                <mat-option [value]="category.value">{{category.viewValue}}</mat-option>
              }
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Asset Code</mat-label>
            <input matInput placeholder="Asset Code" formControlName="assetCode" required>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Asset Name</mat-label>
            <input matInput placeholder="Asset Name" formControlName="assetName" required>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Brand</mat-label>
            <input matInput placeholder="Brand" formControlName="brand" required>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Model Number</mat-label>
            <input matInput placeholder="Model Number" formControlName="modelNumber" required>
          </mat-form-field> 
            <mat-form-field>
              <mat-label>Serial Number</mat-label>
              <input matInput placeholder="Serial Number" formControlName="serialNumber" required>
            </mat-form-field>
            <mat-form-field>
              <mat-label>PONumber</mat-label>
              <input matInput placeholder="PONumber" formControlName="poNumber" required>
            </mat-form-field>
            <mat-form-field>
              <mat-label>DCNumber</mat-label>
              <input matInput placeholder="dcNumber" formControlName="dcNumber" required>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Cost</mat-label>
              <input matInput placeholder="Cost" formControlName="cost" required>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Remarks</mat-label>
              <input matInput placeholder="Remarks" formControlName="remark" required>
            </mat-form-field>
          <div>
            <button mat-raised-button color="primary" matStepperNext>Next</button>
          </div>
      </div>
      </mat-step>
      <div *ngIf="category==='IT'">

      <mat-step [stepControl]="statusform" label="Status Details">
          <div class="divflex" formGroupName="statusdetails">
        
            <mat-form-field>
              <mat-label>Asset Type</mat-label>
              <mat-select formControlName="assetType" required>
                @for(asset of selectedAssetType;track asset){
                  <mat-option [value]="asset.value">{{asset.viewValue}}</mat-option>
                }
              </mat-select>
            </mat-form-field> 
            <mat-form-field>
              <mat-label>Asset</mat-label>
              <mat-select  formControlName="asset" required>
                @for(asset of selectedAsset;track asset){
                  <mat-option [value]="asset.value">{{asset.viewValue}}</mat-option>
                }
              </mat-select>
            </mat-form-field>
            <div *ngIf="assetType ==='Vendor'">
              <mat-form-field>
                <mat-label>Vendor Name</mat-label>
                <mat-select  formControlName="vendor">
                  @for(asset of selectedAsset;track asset){
                    <mat-option [value]="asset.value">{{asset.viewValue}}</mat-option>
                  }
                </mat-select>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Rent/Month</mat-label>
                <input matInput placeholder="rent" formControlName="rent">
              </mat-form-field>
              <mat-form-field>
                <mat-label>Service Tag</mat-label>
                <input matInput placeholder="servicetag" formControlName="servicetag">
              </mat-form-field>
            </div> 

          <div>
            <button mat-raised-button color="primary"matStepperPrevious>Back</button>
            <button mat-raised-button color="primary" matStepperNext>Next</button>
          </div>
      </div>
      </mat-step>


      <div *ngIf="asset ==='LAPTOP'">
      <mat-step [stepControl]="laptopform" label="General Specifications">
          <div class="divflex" formGroupName="laptopspecifications">             
            <mat-form-field>
              <mat-label>Operating System</mat-label>
              <input matInput formControlName="os" placeholder="Operating System">
            </mat-form-field>
          
            <mat-form-field>
              <mat-label>OS Version</mat-label>
              <input matInput formControlName="osversion" placeholder="OS Version">
            </mat-form-field>
          
            <mat-form-field>
              <mat-label>Processor</mat-label>
              <input matInput formControlName="processor" placeholder="Processor">
            </mat-form-field>
          
            <mat-form-field>
              <mat-label>Generation</mat-label>
              <input matInput formControlName="generation" placeholder="Generation">
            </mat-form-field>
          
            <mat-form-field>
              <mat-label>Clock Speed</mat-label>
              <input matInput formControlName="clockspeed" placeholder="Clock Speed">
            </mat-form-field>
          
            <mat-form-field>
              <mat-label>RAM</mat-label>
              <input matInput formControlName="ram" placeholder="RAM">
            </mat-form-field>
          
            <mat-form-field>
              <mat-label>Storage Type</mat-label>
              <input matInput formControlName="storagetype" placeholder="Storage Type">
            </mat-form-field>
          
            <mat-form-field>
              <mat-label>Storage Capacity</mat-label>
              <input matInput formControlName="storagecapacity" placeholder="Storage Capacity">
            </mat-form-field>
            
            
            <mat-form-field>
              <mat-label>LAN MAC Address</mat-label>
              <input matInput formControlName="lanmacaddress" placeholder="LAN MAC Address">
            </mat-form-field>
          
            <mat-form-field>
              <mat-label>WiFi MAC Address</mat-label>
              <input matInput formControlName="wifimacaddress" placeholder="WiFi MAC Address">
            </mat-form-field>

            <mat-form-field>
              <mat-label>Color</mat-label>
              <input matInput formControlName="color" placeholder="Color">
            </mat-form-field>
          
            <mat-form-field>
              <mat-label>Charger Type</mat-label>
              <input matInput formControlName="chargerType" placeholder="Charger Type">
            </mat-form-field>
          
            <mat-form-field>
              <mat-label>Display Size</mat-label>
              <input matInput formControlName="displaysize" placeholder="Display Size">
            </mat-form-field>

            <mat-form-field>
              <mat-label>Battery Health</mat-label>
              <input matInput formControlName="batteryhealth" placeholder="Battery Health" required>
            </mat-form-field>
          

            
          <div>
            <button mat-raised-button color="primary" matStepperPrevious>Back</button>
            <button mat-raised-button color="accent" type="submit">Submit</button>
          </div>
      </div>
      </mat-step>
</div>
    </div>
    </mat-stepper>
  </form>