/* Center the table container */
.tableHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 15px;
}
  .table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff; 
  }
  
  .table th,
  .table td {
    padding: 8px 12px;
    text-align: left;
  }
  
  .table tbody tr:nth-child(even) {
    background-color: #f9f9f9; 
  }
  
  .table tbody tr:hover {
    background-color: #f0f0f0; 
  }
  
  .tableHeader button {
    margin-right: 20px; 
  }

  .uploadButton{
    margin-left: auto;
  }
.cardView{
  margin-left: 20px;
}
.table-responsive{
  padding-left: 15px;
  padding-right: 15px;
}

.bordered-table {
  border-collapse: collapse;
  width: 100%;
}

.bordered-table th,
.bordered-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.bordered-table th {
  background-color: #f2f2f2;
  text-align: left;
}

.bordered-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.bordered-table tr:hover {
  background-color: #ddd;
}
