<div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <h2>DashBoard</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-12 mb-3" *ngFor="let entry of backendData.entries(); let i = index">
        <div class="card mb-3" [style.background]="cardBackgroundColors[i]" style="margin-left: 20px;">
          <img src="assets/circle.svg" class="card-img-absolute" alt="circle-image">
          <div class="card-body">
            <h2 class="card-title">{{ entry[0] }}</h2>
            <p class="card-text">
              <span *ngFor="let item of entry[1]" class="card-value">
                {{ item.subtitle }}:&nbsp;&nbsp;&nbsp;&nbsp; <span style="font-size: 25px;">{{ item.value }}</span><br><br>
              </span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
  