<div class="container-fluid">
  <div class="row" style="height: 100vh;">
    <div class="col-md-4" style="padding: 0;">
      <img src=".\assets\logo.png" alt="Logo Image"  style="position: absolute; top: 8px; left: 12px; width: 32%; height: 10%; opacity: 1;"/>
      <!-- <img src=".\assets\dark-theme.jpg" alt="My Image" height="100%" width="100%"> -->
      <img src=".\assets\asst.png" alt="Logo Image"  style="position: absolute; top: 140px; left: 70px; width: 65%; height: 55%; opacity: 1;"/>
      <!-- <div class="assest">
        <h4>ASSEST MANAGEMENT</h4>
      </div> -->
    </div>
    <div class="col-md-8 d-flex align-items-center justify-content-center">
          <!-- <div class="page-hero d-flex align-items-center justify-content-center" style="border: 2px solid black;">
              Your centered content here
          </div> -->
          <div class="card">
              <div class="card-body">
                <h2>Login</h2>
                <ngx-spinner bdOpacity="0.9" bdColor="rgba(51, 51, 51, 0.8)" size="medium" [fullScreen]="true"></ngx-spinner>

                <form [formGroup]="loginForm" (ngSubmit)="loginUser()">
                  <div class="form-group">
                      <label for="email">Email</label>
                      <input type="text" class="form-control" id="emailID" formControlName="emailId" placeholder="Email Id">
                      <small *ngIf="email.invalid && (email.dirty || email.touched)" class="blocked p-error">
                          <div *ngIf="email.errors?.['required']" class="error_field">Email is required.</div>
                          <div *ngIf="email.errors?.['email']" class="error_field">Email should be valid.</div>
                        </small>
                  </div>
                  <div class="form-group">
                      <label for="password">Password</label>
                      <input type="password" class="form-control" id="password" formControlName="password" placeholder="Password">
                      <small *ngIf="password.invalid && (password.dirty || password.touched)" class="blocked p-error">
                          <div *ngIf="password.errors?.['required']" class="error_field">Password is required.</div>
                        </small>
                  </div>
                  <div class="form-group">
                  <button type="submit"  [disabled]="loginForm.invalid" class="btn btn-primary form-control">Submit</button>
                  <div *ngIf="loginError" id="error_msg">{{ loginError }}</div>
              </div>
              </form>
              </div>
            </div>
            
    </div>
  </div>
</div>