<div class="table-container">
  <div class="table-responsive">
      <div class="tableHeader">
          <button mat-raised-button Raised extended (click)="createAssest()">Create Assest</button>
          <mat-icon class="cardView" (click)="toggleView()">view_module</mat-icon>
          <input type="text" [(ngModel)]="searchTxt" (input)="filterAssestData()" placeholder="Search" />
          <i class="bi bi-list"></i> 
        </div>
        <div [ngClass]="viewMode === 'table' ? 'table-view' : 'card-view'">
    <table class="table" *ngIf="viewMode === 'table'">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">Assest Name</th>
          <th scope="col">Managed By</th>
          <th scope="col">Operational Status</th>
          <th scope="col">Model Number</th>
          <th scope="col">Serial Number</th>
          <th scope="col">Brand</th>
          <th scope="col">Cost</th>
          <th scope="col">Status</th>
          <th scope="col">AssetType</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let assests of filterDataList; let i = index" (click)="navigateToDetails(assests?.asset?.assetId)">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ assests?.asset?.assetName }}</td>
          <td>{{ assests?.asset?.managedBy }}</td>
          <td>{{ assests?.asset?.operationalStatus }}</td>
          <td>{{ assests?.asset?.modelNumber }}</td>
          <td>{{ assests?.asset?.serialNumber }}</td>
          <td>{{ assests?.asset?.brand }}</td>
          <td>{{ assests?.asset?.cost }}</td>
          <td>{{ assests?.asset?.status }}</td>
          <td>{{ assests?.asset?.assetType }}</td>
        </tr>
      </tbody>
    </table>
    <div *ngIf="viewMode === 'card'">

      <div [style.display]="display" class="fixedAssetParent">
         
        <div class="fixedAssetList" *ngFor="let fixedAsset of assestDataList; let i=index">
           
            <div *ngIf="fixedAsset.asset" class="titleDiv col-md-6">
                <div class="tileInnerdiv card" (click)="assetListPage(fixedAsset)">
                    <div class="tileSegment1 card-header">
                        <div class="imgIdsegment">
                            <div class="imgsegment">
                                <img [src]="'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS5kwERtoWN4ZrO9gmiQK69994lfsABzYp_gi6sp1NsmA&s'" alt="uniqueImage" height="130px" width="170px">
                               
                            </div>
                            <p class="idSegment">{{fixedAsset.asset.assetId}}</p>
                            <!-- <div class="idSegment">{{employee.employeeId}}</div> -->
                        </div>
                        <div class="titleName">
                            <h4>{{fixedAsset.asset.assetName}}</h4>
                        </div>
                    </div>
                    <div class="tileSegment2 card-footer">
                        <p><b>Last Modified at </b>{{fixedAsset.asset.managedBy}}</p>
                        <p><b>Status: </b>{{fixedAsset.asset.status}}</p>
                    </div>
                </div>
            </div>
            <br>
       </div>
    </div>

      </div>
  </div>
  </div>
</div>
