<div class="table-container">
  <div class="table-responsive">
      <div class="tableHeader">
          <button mat-raised-button Raised extended (click)="createAssest()">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
              <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
            </svg></button>
          <mat-icon class="cardView" (click)="toggleView()">view_module</mat-icon>
          <input type="text" [(ngModel)]="searchTxt" (input)="filterAssestData()" placeholder="Search" />
          <i class="bi bi-list"></i> 
        </div>
        <div [ngClass]="viewMode === 'table' ? 'table-view' : 'card-view'">
    <table class="table" *ngIf="viewMode === 'table'">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">Asset Name</th>
          <th scope="col">Operational Status</th>
          <th scope="col">Model Number</th>
          <th scope="col">Serial Number</th>
          <th scope="col">Brand</th>
          <th scope="col">Cost</th>
          <th scope="col">Status</th>
          <th scope="col">AssetType</th>
          <th scope="col">Assign</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let assests of filterDataList; let i = index">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ assests?.asset?.assetName }}</td>
          <td>{{ assests?.asset?.operationalStatus }}</td>
          <td>{{ assests?.asset?.modelNumber }}</td>
          <td>{{ assests?.asset?.serialNumber }}</td>
          <td>{{ assests?.asset?.brand }}</td>
          <td>{{ assests?.asset?.cost }}</td>
          <td>{{ assests?.asset?.status }}</td>
          <td>{{ assests?.asset?.assetType }}</td>
          <td>
            <button  (click)="assignAsset(assests?.asset?.assetId)">{{ assests?.asset?.status }}</button>
          </td>
          <td>
            <button  (click)="navigateToDetails(assests?.asset?.assetId)">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
              </svg></button>
          </td>
        </tr>
      </tbody>
    </table>
    <div *ngIf="viewMode === 'card'">

      <div [style.display]="display" class="fixedAssetParent">
         
        <div class="fixedAssetList" *ngFor="let fixedAsset of assestDataList; let i=index">
           
            <div *ngIf="fixedAsset.asset" class="titleDiv col-md-6">
                <div class="tileInnerdiv card" (click)="assetListPage(fixedAsset)">
                    <div class="tileSegment1 card-header">
                        <div class="imgIdsegment">
                            <div class="imgsegment">
                                <img [src]="'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS5kwERtoWN4ZrO9gmiQK69994lfsABzYp_gi6sp1NsmA&s'" alt="uniqueImage" height="130px" width="170px">
                               
                            </div>
                            <p class="idSegment">{{fixedAsset.asset.assetId}}</p>
                            <!-- <div class="idSegment">{{employee.employeeId}}</div> -->
                        </div>
                        <div class="titleName">
                            <h4>{{fixedAsset.asset.assetName}}</h4>
                        </div>
                    </div>
                    <div class="tileSegment2 card-footer">
                        <p><b>Last Modified at </b>{{fixedAsset.asset.managedBy}}</p>
                        <p><b>Status: </b>{{fixedAsset.asset.status}}</p>
                    </div>
                </div>
            </div>
            <br>
       </div>
    </div>

      </div>
  </div>
  </div>
</div>
