<ng-container *ngIf="!router.url.includes('login'); else elseBlock">
<mat-toolbar color="primary">
	<mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
		<button mat-mini-fab class="menu-icon"  (click)="drawer.toggle()" style="background-color: white;">
      <mat-icon fxFlex fxHide="false" fxHide.xs style="color: blue;">menu</mat-icon>
      <mat-icon fxFlex fxShow="false" fxShow.xs style="color: blue;">more_vert</mat-icon>
		</button>
		<span></span>
		<div fxLayout="row" fxLayoutAlign="end center">
		<button mat-mini-fab (click)="logout()" style="color: blue;background-color: white; margin-left: 1175px;">
		<mat-icon>logout</mat-icon>
		</button>
	</div>
	</mat-toolbar-row>
</mat-toolbar>


<mat-drawer-container>
	<mat-drawer fxFlex #drawer mode="side">
		<mat-list>
            <mat-list-item><button mat-button routerLink="/dashboard">Dashboard</button></mat-list-item>
			<mat-list-item><button mat-button routerLink="/assest">Asset</button></mat-list-item>
			<mat-list-item><button mat-button routerLink="/employee">Employee</button></mat-list-item>
			<mat-list-item><button mat-button routerLink="/employee">Project</button></mat-list-item>
			<mat-list-item><button mat-button routerLink="/vendorlist">Vendor</button></mat-list-item>
			<mat-list-item><button mat-button routerLink="/assetTrackerList">Asset Tracker</button></mat-list-item>
		

		</mat-list>
	</mat-drawer>
	<mat-drawer-content>
		<router-outlet></router-outlet>
	</mat-drawer-content>
</mat-drawer-container>
</ng-container>
<ng-template #elseBlock>
	<router-outlet></router-outlet>	
  </ng-template>